.travelPlanC{
    width: 100vw;
    height: 100vh;
    background: url('../assets/8.jpg') no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}
.travelPlanCard{
    height: 100%;
    width: 100%;
    position: relative;
}
.cardHolder{
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    /* margin-top: 120px; */
}
/* .travelCard{
    padding: 15px;
    min-height: 200px;
    width: 250px;
    border: 1px solid black;
    margin-right: 50px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 2px 20px 1px rgba(0, 0, 0, 0.5);
    
}
.travelCard >h3,h2,p{
    margin-bottom: 15px;
} */
/* .card{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.details{
    margin-top: 50px;
    
}
.details>h1,p{
    margin-bottom: 40px;
    
}

.detailsCard{
   min-width: 700px;
   height: 80vh;
   display: flex;
   justify-content: center;
   align-items: center;
   
} */



.a-box {
    display: inline-block;
    width: 240px;
    text-align: center;
  }
  
  .img-container {
      height: 230px;
      width: 200px;
      overflow: hidden;
      border-radius: 0px 0px 20px 20px;
      display: inline-block;
  }
  
  .img-container img {
      transform: skew(0deg, -13deg);
      height: 250px;
      margin: -35px 0px 0px 0px;
  }
  
  .inner-skew {
      display: inline-block;
      border-radius: 20px;
      overflow: hidden;
      padding: 0px;
      transform: skew(0deg, 13deg);
      font-size: 0px;
      margin: 30px 0px 0px 0px;
      background: #c8c2c2;
      height: 250px;
      width: 200px;
  }
  
  .text-container {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    padding: 120px 20px 20px 20px;
    border-radius: 20px;
    background: #fff;
    margin: -120px 0px 0px 0px;
    line-height: 19px;
    font-size: 14px;
  }
  
  .text-container h3 {
    margin: 20px 0px 10px 0px;
    color: #04bcff;
    font-size: 18px;
  }
  .C-time{
    color: #c8c2c2;
    display: inline-block;
    margin-top: 5px;
  }
  .C-details{
    margin: 10px 0;
  }
  .C-btn{
    background-color: blue;
    color: #fff;
    font-weight: 600;
  }